VITE_COMETCHAT_APP_ID=
VITE_COMETCHAT_REGION=
VITE_COMETCHAT_AUTH_KEY=
# For a public deployment, leave VITE_COMETCHAT_AUTH_KEY unset and use:
# VITE_COMETCHAT_SERVER_AUTH=true
# COMETCHAT_APP_ID=
# COMETCHAT_REGION=
# COMETCHAT_REST_API_KEY=
# DATABASE_URL=
